@import '../abstracts/variables';

.Logo {
	width: 273px;
	height: 52px;
	margin-top: 30px;
}

.burger-color{
	fill: $burger-menu-txt-color;
}

header {
	width: 100%;
}

#nav {
	background-color: $burger-menu-txt-color;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #000;
	z-index: 2;
}

.nav-container {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	@include content-margin-sides;
	height: 150px;
}

#menu {
	border-bottom: 2px solid transparent;
	padding-bottom: 0.5em;
	transition: all 800ms ease;
	cursor: pointer;

	ul {
		display: flex;
		gap: 30px;
		list-style: none;
		margin-top: 30px;
		font-size: 28px;
		font-family: $font-Deca;
		align-items: center;
	}
	
	.face-nav, .insta-nav{
		display: none;
	}
	
	li {
		list-style: none;
	}
	
	a {
		text-decoration: none;
		color: #000;
		&:hover {
			color: rgba(70, 70, 70, 0.682);
		}
	}
}

#burger{
	display: none;
	width: 29px;
	height: 26px;
}

@media (max-width: 1024px) {
	#burger {
		margin-top: 30px;
		display: block;
		cursor: pointer;
		z-index: 2;
		&:focus{
			border: none;
			outline: none;
		}
	}

	nav {
		position: absolute;
		right: 0;
		top: 0;
		background: $burger-menu-color;
		padding: 2em;
		box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
		clip-path: circle(0% at 100% 0);
		transition: all 800ms ease-in-out;
		height: 100vh;
		width: 100%;

		ul {
			flex-direction: column;
		}
		
	}

	nav.show {
		clip-path: circle(200% at 100% 0);
		transition-duration: 800ms;
	}
	
	.nav-container{
		margin: 0;
		padding: 0 30px;
	}
	
	#menu {
		a{
			color: $burger-menu-txt-color;
		}

		ul{
			margin-top: 13rem;

			.fa-brands{
				color: $SoMe-color;
				display: block;

				&:hover {
					color: rgba(255, 255, 255, 0.562);
				}
			}
		}
	}
}