.sub-container{
    @include flex-center;
    background: black;
    font-family: $font-Mukta;
    color: $site-background-color;

    .subHero{
        opacity: 0.4;
        object-fit: cover;
        height: 100vh;
        width: 100%;
    }

    .subTxt-wrapper{
        z-index: 1;
        position: absolute;
        text-align: center;

        .subTitle{
            font-size: 54px;
            font-weight: normal;
            padding-bottom: 50px;
        }
    }
}

.description-container{
    text-align: center;
    height: auto;
    padding: 68px 0;
    font-family: $font-Mukta;
    @include content-margin-sides;
    
    h1{
        font-size: 45px;
        line-height: 53px;
        font-weight: normal;
        padding-bottom: 30px;
    }
    
    p{
        padding-bottom: 20px;
    }
}

.placement-container{
    
    h1{
        font-weight: bold;
        padding: 0;
        font-size: 16px;
    }
}

#gallery-container {
    width: 100%;
    height: auto;
	page-break-inside: avoid;
	break-inside: avoid;
	column-count: 2;
	column-gap: 15px;
    padding: 30px;

	.grid-item {
		margin-bottom: 15px;
		position: relative;
		break-inside: avoid;
		width: 100%;
		will-change: transform;
		border-radius: 4px;
		overflow: hidden;
		box-shadow: 3px 3px 5px -3px rgb(255 255 255 / 30%);
	}
}

.gallery-img {
    max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

@media screen and (min-width: 576px) {
	#gallery-container {
		column-count: 3;
	}
}

@media screen and (min-width: 769px) {
	#gallery-container {
		column-count: 5;
	}
}

@media screen and (min-width: 1024px) {
	#gallery-container {
		column-count: 6;
	}
}