@import '../abstracts/variables';

.footer {
    width: 100%;
    background-color: $secondaryBG-color;
    height: 531px;
    font-family: $font-Mukta;
    font-size: 14px;
    @include flex-center-column;

    li {
        list-style: none;
    }

    a{
        text-decoration: none;
        color: $burger-menu-txt-color;
        @include flex-center-vertical;

        .foot-insta, .foot-face{
            padding-right: 15px;
        }
    }

    .footer-ul {
        @include flex-center-horizontal;
        @include flex-center-column;
        color: $burger-menu-txt-color;
    }

    .footer-item_2 {
        padding: 60px 0;
    }
}

@media only screen and (min-width: 1024px) {
    .footer{
        @include flex-row;
        font-size: 1.1rem;
        
        .footer-ul{
            margin: auto;
            justify-content: center;
        }
    }
}