// FONTS IMPORT START
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Mukta:wght@400;700&display=swap');
// FONTS IMPORT END

// COLORS START
$site-background-color: #fff;
$secondaryBG-color: #000;
$burger-menu-color: #000000E6;
$burger-menu-txt-color: #fff;
$SoMe-color: #fff;
$btn-color: #000;
$accordionBorder-color: rgba(0, 0, 0, 0.5);
// COLORS END

// FONTS START
$font-Deca: 'Lexend Deca', sans-serif;
$font-Mukta: 'Mukta', sans-serif;
// FONTS END